.global {
    position: absolute !important;
    min-width: 295px;
    left: 0px;
    top: 5px;
    z-index: 1000;
    padding: 0px;
}

.btn {
    width: 100%;
}

.leaflet-top {
    display: none;
}

.filter {
    margin-left: 4%;
    margin-top: 5px;
    font-size: 100% !important;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.mycluster {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #e39c3a;
    color: white;
    text-align: center;
    font-size: 20px;    
    line-height: 40px;
    margin-top: -20px;
    margin-left: -20px;
}

@media screen and (max-width: 524px) {
    .filterCategorie {
        left: -47px !important;
    }
    .filterStyle {
        left: -7px !important;
    }
}
